@-webkit-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
.About{
    -webkit-animation: fade-in 1s linear; /* Safari 4+ */
    -moz-animation: fade-in 1s linear; /* Fx 5+ */
    -o-animation: fade-in 1s linear; /* Opera 12+ */
    animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
    justify-content: center;
    padding-top: 100px;
    display: flex;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #8c7ae6 0%, #9c88ff 100%);
}

.About h1 {
    color: #fff;
    margin-left: 10px;
}
.AboutWrapper{
    width: 600px;
}