.About{
    justify-content: center;
    padding-top: 100px;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.About h1 {
    color: #fff;
    margin-left: 10px;
}
.AboutWrapper{
    width: 600px;
}